$ancho: 100%;

$fondo: darkorange;

$carrousel-main-color: white;

$boton-principal-ancho: 100%;

$borde-principal: #FFAF33;

$total-columnas: 12;

$font-main: 'Open Sans', sans-serif;

$nomader:(
	pablo: orange,
	craig: darkorange,
	elon: red,
);